<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="733850488636-ncqlhpb9c9gu1iiq53tjqvf7kb1lum71.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../public/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../public/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/style_index.css">
    <link rel="shortcut icon" type="image/x-icon" href="./icon.ico" />
    <title>Forgot Password</title>
</head>
<body>
    <div class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>!-->
                <a id="logo" class="navbar-brand ml-auto" href="../html/portal.html">FilesPro</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <!-- <img src="../public/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid"> -->
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center mt-20px mb-20px" id="LoginBox">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Login</h3>
                                <p class="mb-4">Welcome back!</p>
                            </div>
                            <% if(flag==1){ %>
                            <form action="http://localhost:3000/f1submit" method="POST">
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" name="email">
                                </div>
                                <input type="submit" id="f1submit" class="btn btn-block btn-primary">
                            </form>
                            <% }%>
                            <% if(flag==2){ %>
                            <form action="http://localhost:3000/f2submit" method="POST">
                                <div class="form-group first">
                                    <label for="otp">OTP</label>
                                    <input type="text" class="form-control" id="otp" name="otp">
                                </div>
                            <input type="submit" id="f2submit" class="btn btn-block btn-primary">
                            </form>
                            <% }else if(flag==2.2){ %>
                            <p>Invalid credentials</p>
                            <% } %>

                            <% if(flag==3){ %>
                            <form action="http://localhost:3000/newpasswordreset" method="POST">
                                <div class="form-group first">
                                    <label for="newpassword">NEW PASSWORD</label>
                                    <input type="text" class="form-control" id="newpassword" name="newpassword">
                                </div>
                                <input type="submit" id="new_password_submit" class="btn btn-block btn-primary">
                            </form>
            
                            <% }else if(flag==3.3){ %>
                            <p class="">OTP did not match</p>
                            <% } %>
    
                            <% if(flag==4){ %>
                            <p>Password reset is successful </p>
                            <% }else if(flag==4.4){ %>
                            <p>Enter valid password</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>