<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="733850488636-ncqlhpb9c9gu1iiq53tjqvf7kb1lum71.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style -->
    <!-- <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/style_index.css"> -->
    <link rel="stylesheet" href="../css/forgotpass.css">
    <link rel="shortcut icon" type="image/x-icon" href="./icon.ico" />
    <title>Forgot Password</title>
</head>
<body>
    <div class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>!-->
                <!-- <form action="http://localhost:3000/login" method="POST" class="box"> -->
                    <a id="logo" class="navbar-brand ml-auto" href="/loginpage">FilesPro</a>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row  justify-content-center">
                <!-- <div class="col-md-6">
                 <img src="../public/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6">
                    <div class="row justify-content-center mt-20px mb-20px" id="LoginBox">
                        <div class="col-md-8 pt-4">
                            <div class="mb-4">
                                <h3 class="text-center">Password Reset</h3>
                                <p class="mb-4 text-center">Don't worry! Let's sort the things out</p>
                            </div>
                            <% if(flag==1){ %>
                            <form action="http://localhost:3000/f1submit" method="POST" class="box">
                                <!-- <div class="form-group first mb-2"> -->
                                    <!-- <label for="username">Username</label> -->
                                    <input type="text" placeholder="Username" class="form-control mb-10px mt-50px" id="username" name="username">
                                <!-- </div> -->
                                <!-- <div class="form-group last mb-4"> -->
                                    <!-- <label for="email">Email</label> -->
                                    <input type="text" placeholder="Email" class="form-control mb-25px" id="email" name="email">
                                <!-- </div> -->
                                <input type="submit" id="f1submit" class="submit">
                            </form>
                            <% }%>
                            <% if(flag==2){ %>
                            <form action="http://localhost:3000/f2submit" method="POST" class="box">
                                <!-- <div class="form-group first"> -->
                                    <!-- <label for="otp">OTP</label> -->
                                    <input type="text" placeholder="OTP" class="form-control mt-50px" id="otp" name="otp">
                                <!-- </div> -->
                            <input type="submit" id="f2submit" class="submit">
                            </form>
                            <% }else if(flag==2.2){ %>
                            <p>Invalid credentials</p>
                            <% } %>

                            <% if(flag==3){ %>
                            <form action="http://localhost:3000/newpasswordreset" method="POST" class="box">
                                <!-- <div class="form-group first"> -->
                                    <!-- <label for="newpassword">NEW PASSWORD</label> -->
                                    <input type="text" placeholder="Username" class="form-control mb-10px mt-50px" id="username" name="username">
                                    <input type="text" placeholder="New Password" class="form-control mt-50px" id="newpassword" name="newpassword">
                                <!-- </div> -->
                                <input type="submit" id="new_password_submit" class="submit">
                            </form>
            
                            <% }else if(flag==3.3){ %>
                            <p class="">OTP did not match</p>
                            <% } %>
    
                            <% if(flag==4){ %>
                            <p>Password reset is successful </p>
                            <% }else if(flag==4.4){ %>
                            <p>Enter valid password</p>
                            <% } %>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>