<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="702568242650-7mth13f0ce7gfdbp3jqkn731dquqi45q.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&family=Rubik&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_index.css">
    <link rel="shortcut icon" type="image/x-icon" href="./icon.ico" />
    <title>Login</title>
  </head>
  <body>
  <div class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>!-->
        <a id="logo" class="navbar-brand ml-auto" href="../html/portal.html">FilesPro</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- <img src="../images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid"> -->
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center mt-20px mb-20px" id="LoginBox">
            <div class="col-md-8">
              <!-- <div class="mb-4"> -->
              <h3>Login</h3>
              <!-- <p class="mb-4">Welcome back!</p> -->
              <!-- </div> -->

            <form action="http://localhost:3000/login" method="POST" class="box">
              <!-- <div class="form-group first"> -->
                <!-- <label for="username">Username</label> -->
                <input type="text" placeholder="Username" id="username" name="username">
              <!-- </div> -->
              <!-- <div class="form-group last mb-4"> -->
                <!-- <label for="password">Password</label> -->
                <input type="password" placeholder="Password" id="password" name="password">
              <!-- </div> -->
              
              <!-- <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                
              </div> -->
              <div class="d-flex mb-3 ml-2 justify-content-center mb-2 LoginType">
                <label>
                  <input type="radio" id="admin" name="logintype" value="admin">
                  <span>Admin</span>  
                </label>
                <label>
                  <input type="radio" id="faculty" name="logintype" value="faculty">
                  <span>Faculty</span>  
                </label>
                <label>
                  <input type="radio" id="student" name="logintype" value="student">
                  <span>Student</span>  
                </label>
                <!-- <input type="radio" id="admin" name="logintype" value="admin">
                <label class="options-cc admin" for="admin"></label>
                <input type="radio" id="faculty" name="logintype" value="faculty">
                <label class="options-cc faculty" for="faculty"></label>
                <input type="radio" id="student" name="logintype" value="student">
                <label class="options-cc student" for="student"></label> -->
              </div>
              <input type="submit" id="submit" value="Log In" class="loginn">
            </form>
            <hr>
            <form action="http://localhost:3000/forgotpassword" method="POST" style="margin-left: 88px;">
              <span class="ml-auto"><button class="forgot-pass" target="_blank">Forgot Password</button></span> 
            </form>


            <div id="display">
            </div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <!-- <div class="mb-4" data-onsuccess="onSignIn" class="g-signin2">
              <hr>
              <img src="../images/google_logo.png" id="GoogleLogo" style="margin-left: 153px;"></a>
            </div> -->
            <script>
                
              function onSignIn(googleUser) 
              {
                var id_token = googleUser.getAuthResponse().id_token;
                
                //  console.log(id_token);
            
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/googlelogin');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() 
                {
                  
                  console.log('Signed in as: ' + xhr.responseText);
                  if(xhr.responseText == 'success')
                  {
                    signOut();
                    location.assign('/dashboard');
                  }
                };
                xhr.send(JSON.stringify({token : id_token}));
              }
            </script>
            <a href="#" onclick="signOut();">Sign out</a>
            <script>
              function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                  console.log('User signed out.');
                });
              }
            </script>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <!-- <script src="../js/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="../js/popper.min.js"></script> -->
    <!-- <script src="../js/bootstrap.min.js"></script> -->
    <script src="../js/main.js"></script>
    <script src="../js/jquery.js"></script>
    <!-- <script src="../test.js"></script> -->
  </body>
</html>